@import "tailwindcss";
@plugin "daisyui";
/* :root {
  --background: #ffffff;
  --foreground: #171717; 
}*/

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}




/* this is for nameplate  */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 5s ease infinite;
}

/* this is for nameplate  */




@plugin "daisyui/theme" {
  name: "frostUILight";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(83% 0.128 66.29);
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(89% 0.196 126.665);
  --color-secondary-content: oklch(27% 0.072 132.109);
  --color-accent: oklch(86% 0.127 207.078);
  --color-accent-content: oklch(30% 0.056 229.695);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}



@plugin "daisyui/theme" {
  name: "frostUIDark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(12% 0.042 264.695);
  --color-base-200: oklch(20% 0.042 265.755);
  --color-base-300: oklch(27% 0.041 260.031);
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: oklch(83% 0.128 66.29);
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(89% 0.196 126.665);
  --color-secondary-content: oklch(27% 0.072 132.109);
  --color-accent: oklch(70% 0.183 293.541);
  --color-accent-content: oklch(28% 0.141 291.089);
  --color-neutral: oklch(20% 0.042 265.755);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

[data-theme="frostUILight"] .customGradiant1 {
  background: linear-gradient(to bottom right,
      #fffdfa,
      #fef9f3,
      #f8f1e8);
}

[data-theme="frostUILight"] .customGradiant2 {
  background: #E0FFFF;
}


[data-theme="frostUILight"] .customGradiant3 {
  background: linear-gradient(to bottom right, #ebf4f5, #b5c6e0);
}

/* --------------- dark theme -------  */

[data-theme="frostUIDark"] .customGradiant1 {
  background: linear-gradient(to bottom right,
      #1c1f24,
      /* deep charcoal */
      #2a2e35,
      /* dark slate gray */
      #202428
      /* soft near-black */
    );
}

[data-theme="frostUIDark"] .customGradiant2 {
  background: #343434;
}



[data-theme="frostUIDark"] .customGradiant3 {
  background: linear-gradient(to bottom right,
      #0e1c26,
      #2a454b,
      #294861);
}

.boxStyle {
  @apply border-2 border-primary rounded-2xl shadow-primary hover:shadow-md transition-all duration-500 p-5
}

.buttonStyle {
  background: linear-gradient(135deg, #57ebde, #aefb2a);
}

.headerStyle{
  @apply text-2xl md:text-3xl lg:text-4xl font-bold text-primary py-2
}
.descriptionStyle{
  @apply text-lg md:text-xl lg:text-2xl font-bold text-secondary py-5 mb-5
}