
/* ================================================================================================== */
 [data-theme="frostUILight"] .customGradiant1 {
 background: linear-gradient(
  to bottom right,
  #fffdfa,
  #fef9f3,
  #f8f1e8
);
 }

 [data-theme="frostUILight"] .customGradiant2 {
background:#FEFFED ;
 }
 

 [data-theme="frostUILight"] .customGradiant3 {
background: linear-gradient(to bottom right, #e6f4f1, #dbece9, #f8fbfa);
 }

 /* --------------- dark theme -------  */

 [data-theme="frostUIDark"] .customGradiant1 {
background: linear-gradient(
  to bottom right,
  #1c1f24,   /* deep charcoal */
  #2a2e35,   /* dark slate gray */
  #202428    /* soft near-black */
);
 }

 [data-theme="frostUIDark"] .customGradiant2 {
background:#2D4356 ;
 }



 [data-theme="frostUIDark"] .customGradiant3 {
background: linear-gradient(
  to bottom right,
  #0d1217,
  #1f2937,
  #223344
);
 }